@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  /* active input border */
  --LinearGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  /* input Error */
  --Red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --LightGrayishViolet: hsl(270, 3%, 87%);
  --DarkGrayishViolet: hsl(279, 6%, 55%);
  --VeryDarkViolet: hsl(278, 68%, 11%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
@media (max-width:768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    gap: 1rem;
  }
}
.main {
  max-width: 640px;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  padding: 1rem;
}
.item1 {
  grid-area: 1 / 2 / 3 / 5;
  position: relative;
}
.item2 {
  z-index: 2;
  grid-area: 2 / 1 / 4 / 4;  
  position: relative;
}
.card-details {
  text-transform: uppercase;
  font-weight: 100;
  color: var(--LightGrayishViolet);
  font-family: "Space Grotesk", sans-serif;
}
.textover img { width: 100%; }
.textover { 
  max-width: 600px; 
  position: relative; 
} 
.cvc-num {
  position: absolute;
  top: 42%;
  right: 6%;
  z-index: 34;
  transform: translate(-50%, -50%);
}
.logo {
  max-width: 75px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.card-num {
  position: absolute;
  font-size: 1.2rem;
  bottom: 3.5rem;
  left: 1rem;
}
.card-name {
  position: absolute;
  font-size: 1rem;
  bottom: 2.2rem;
  left: 1rem;
}
.card-exp {
  position: absolute;
  font-size: 1rem;
  bottom: 2.2rem;
  right: 2.5rem;
}
#form, #complete {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  padding: 2rem;
} 
.form-group input:focus {
  outline: 1px solid var(--VeryDarkViolet);  
}
.label {
  text-transform: uppercase;
  color: var(--VeryDarkViolet);
  font-weight: 600;
  margin-top: .51rem;
}
#complete h1 {
  color: var(--VeryDarkViolet);
  text-transform: uppercase;
}
#complete p {
  color: var(--DarkGrayishViolet);
}
.grid, .grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
  grid-template-areas:  'one one two two';
}
.grid1 {
  /* display: grid; 
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  */
  grid-template-areas: 'three four five five';
}
.it1 { grid-area: one; }
.it2 { grid-area: two; }
.it3 { grid-area: three; }
.it4 { grid-area: four; }
.it5 { grid-area: five; }

#complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button {
  margin-top: 1rem;
  color: white;
  background-color: var(--VeryDarkViolet);
}
#button2 {
  color: white;
  background-color: var(--VeryDarkViolet);
}
input {
  border: 2px solid var(--VeryDarkViolet);
  border-radius: 4px;
  font-size: 1rem;
  margin: .25rem;
  min-width: 80px;
  padding: .5rem;
  transition: border-color 0.5s ease-out;
}
input:required:valid {
  border-color: green;
}
input:focus-visible:invalid { 
  border-color: red; 
}
@media (min-width: 400px) {
  .textover {
    max-width: 380px;
  }
  .logo {
    max-width: 90px;
  }
  .cvc-num {
    top: 5.2rem;
    right: 1.2rem;
  }
  .card-num {
    bottom: 2.5rem;
    left: 1rem;
  }
  .card-name {
    bottom: 1rem;
    left: 1rem;
  }
  .card-exp {
    bottom: 1rem;
    right: 4rem;
  }
}
@media (min-width: 400px) {
  .cvc-num {
    top: 5.8rem;
  }
  .card-num {
    bottom: 1.5rem;
    font-size: 1.4rem;
  }
  .card-name, .card-exp {
    bottom: .2rem;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left 10%;
    height: 100dvh;
    display: grid;
    gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    min-height: 100%;
    min-width: 100%;
    max-width: 768px;
  }
  .first-section { 
    grid-column: 1 / 2;   
  }
  .second-section { 
    grid-column: 2 / 3;
    min-height: 100%;
  } 
  .main-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 20px 1fr;
    gap: 1rem;
  }
  .img-fluid {
    width: 100%;
  }
  .item1 {
    grid-row: 3 / 5;
  }
  .item2 {
    grid-row: 1 / 4;
  }
  .logo {
    max-width: 80px;
  }
  .cvc-num {
    top: 50%;
    right: 5%;
  }
  .card-num {
    top: 5.5rem;
    left: 1rem;
  }
  .card-name {
    top: 7.2rem;
    left: 1rem;
  }
  .card-exp {
    top: 7.2rem;
    right: 2.2rem;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left 10%;
    height: 100dvh;
    display: grid;
    gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-columns: 10px 1fr 1fr 10px;
    place-items: center;
    min-height: 100%;
    min-width: 100%;
    max-width: 768px;
  }
  .first-section { 
    grid-column: 2 / 3;   
  }
  .second-section { 
    grid-column: 3 / 4;
    min-height: 100%;
  } 
  .main-grid {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 1fr 20px 1fr;
    gap: 1rem;
  }
  .img-fluid {
    width: 100%;
  }
  .item1 {
    grid-row: 3 / 5;
  }
  .item2 {
    grid-row: 1 / 4;
  }
  .logo {
    max-width: 100px;
  }
  .cvc-num {
    top: 5.5rem;
    right: 1.5rem;
    font-size: 1.2rem;
  }
  .card-num {
    top: 6.5rem;
    left: 1rem;
    font-size: 1.6rem;
  }
  .card-name {
    font-size: 1.2rem;
    top: 9rem;
    left: 1rem;
  }
  .card-exp {
    font-size: 1.2rem;
    top: 9rem;
    right: 1.8rem;
  }
}

@media (min-width: 1200px) { 
  body {
    grid-template-columns: 50px 1fr 1fr 50px;
  }
  .main-grid {
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: 1fr 20px 1fr;
    gap: 1rem;
  }
  .cvc-num {
    top: 50%;
    right: 10%;
    font-size: 1.4rem;
  }
  .logo {
    max-width: 120px;
  }
  .card-num {
    top: 8rem;
    left: 1rem;
    font-size: 1.8rem;
  }
  .card-name {
    font-size: 1.2rem;
    top: 11rem;
    left: 1rem;
  }
  .card-exp {
    font-size: 1.2rem;
    top: 11rem;
    right: 5rem;
  }
}